<article>
  <form action="/api/sessions/login" method="post">
    <header>
      <h1>Acceder</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <footer>
      <input type="submit" value="Enviar" >
    </footer>
  </form>

  <form action="/api/request-reset" method="post">
    <h2>Restablecer contraseña</h2>
    <input type="email" name="email" placeholder="Correo electronico" required>
    <button type="submit" class="outline contrast">Restablecer contraseña</button>
  </form>


  <a href="/register" role="button" class="contrast">Registrarse</a>
  <a href="/api/sessions/github" role="button" class="contrast">Entrar con Github</a>
  <hr>

</article>