<article>
    <form action="/api/users/premium/:uid/documents" method="post" enctype="multipart/form-data" class="form-group">
        <h1>Subir archivos</h1>
        <label for="files">Archivos seleccionados:</label>
        <input type="file" name="files" id="files" multiple>
        <input type="submit" value="Subir">
    </form>
</article>